/* Start Variables */
:root {
  --main-color: #19c8f9;
  --main-color-text: #1f2021;
  --main-color-light: #777;
  --main-transition: 0.3s;
  --main-padding-block: 100px;
}
/* End Variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", serif;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input:focus {
  outline: 0;
}
button {
  border: 0;
}
ul,
ol,
dl {
  list-style: none;
}
/* End Global Rules */

/* Start Container */
.container {
  margin-inline: auto;
  padding-inline: 15px;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    width: 750px;
  }
  @media only screen and (min-width: 992px) {
    width: 970px;
  }
  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }
}
/* End Container */
