/* Start Header */
.header {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  .container {
    min-height: 97.09px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(100% - 30px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.514);
    }
    nav {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
      ul {
        height: auto;
        display: flex;
        li a {
          text-transform: uppercase;
          font-size: 14px;
          display: block;
          color: white;
          padding: 40px 20px;
          border-bottom: 1px solid transparent;
          transition: var(--main-transition);
          &.active,
          &:hover {
            color: var(--main-color);
            border-bottom: 1px solid var(--main-color);
          }
        }
        @media only screen and (max-width: 992px) {
          height: 0px;
          overflow: hidden;
          position: absolute;
          top: 100%;
          flex-direction: column;
          width: calc(100% - 30px);
          left: 15px;
          background-color: rgba(0, 0, 0, 0.747);
          li a {
            padding: 20px 10px;
          }
          transition: var(--main-transition);
        }
      }
      .toggle-menu {
        margin-right: -20px;
        cursor: pointer;
        font-size: 20px;
        transform: rotate(0deg);
        transition: var(--main-transition);
        @media only screen and (min-width: 993px) {
          display: none;
        }
        &:hover {
          color: var(--main-color);
          transform: rotate(-90deg);
        }
      }
      .search {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        border-left: 1px solid white;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: var(--main-transition);
        &:hover {
          color: var(--main-color);
          transform: rotate(-90deg);
        }
      }
    }
  }
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #15182c;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-attachment: fixed;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000089;
    left: 0;
    top: 0;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-color-overlay);
    color: white;
    padding: 40px;
    .text {
      width: 500px;
      max-width: 100%;
      h1 {
        font-weight: 500;
      }
      p {
        line-height: 1.6;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .content {
      width: 100%;
      justify-content: center;
      h1 {
        font-size: 24px;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    .left,
    .right {
      color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
    }
  }
  ul {
    width: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transition: var(--main-transition);
      outline: 2px solid transparent;
    }
    li.active,
    li:hover {
      background-color: var(--main-color);
      outline: 2px solid white;
    }
  }
}
/* End Landing */
