/* Start Components */
.special-heading {
  text-align: center;

  h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
    }
    &::before {
      content: "";
      width: 100px;
      height: 2px;
      bottom: -30px;
    }
    &::after {
      content: "";
      width: 15px;
      height: 15px;
      background-color: white;
      border: 2px solid black;
      border-radius: 50%;
      bottom: -37.5px;
    }
  }
  p {
    width: 400px;
    max-width: 100%;
    margin: 0px auto 100px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
  }
}
/* End Components */
/* Start Header */
.header {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  .container {
    min-height: 97.09px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(100% - 30px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.514);
    }
    nav {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
      ul {
        height: auto;
        display: flex;
        li a {
          text-transform: uppercase;
          font-size: 14px;
          display: block;
          color: white;
          padding: 40px 20px;
          border-bottom: 1px solid transparent;
          transition: var(--main-transition);
          &.active,
          &:hover {
            color: var(--main-color);
            border-bottom: 1px solid var(--main-color);
          }
        }
        @media only screen and (max-width: 992px) {
          height: 0px;
          overflow: hidden;
          position: absolute;
          top: 100%;
          flex-direction: column;
          width: calc(100% - 30px);
          left: 15px;
          background-color: rgba(0, 0, 0, 0.747);
          li a {
            padding: 20px 10px;
          }
          transition: var(--main-transition);
        }
      }
      .toggle-menu {
        margin-right: -20px;
        cursor: pointer;
        font-size: 20px;
        transform: rotate(0deg);
        transition: var(--main-transition);
        @media only screen and (min-width: 993px) {
          display: none;
        }
        &:hover {
          color: var(--main-color);
          transform: rotate(-90deg);
        }
      }
      .search {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        border-left: 1px solid white;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: var(--main-transition);
        &:hover {
          color: var(--main-color);
          transform: rotate(-90deg);
        }
      }
    }
  }
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #15182c;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-attachment: fixed;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000089;
    left: 0;
    top: 0;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-color-overlay);
    color: white;
    padding: 40px;
    .text {
      width: 500px;
      max-width: 100%;
      h1 {
        font-weight: 500;
      }
      p {
        line-height: 1.6;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .content {
      width: 100%;
      justify-content: center;
      h1 {
        font-size: 24px;
      }
    }
  }
  .left,
  .right {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .left,
    .right {
      display: inline-block;
      color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
    }
  }
  ul {
    width: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transition: var(--main-transition);
      outline: 2px solid transparent;
    }
    li.active,
    li:hover {
      background-color: var(--main-color);
      outline: 2px solid white;
    }
  }
}
/* End Landing */

/* Start Services */
.services {
  padding-block: var(--main-padding-block);
  .container {
    .services-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-gap: 40px;
      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
      }
      .service {
        position: relative;
        padding: 10px;
        display: flex;
        i {
          flex-basis: 100px;
          transition: var(--main-transition);
        }
        .text {
          margin-top: 5px;
          flex: 1;
          h3 {
            font-weight: 900;
            font-size: 20px;
            margin-bottom: 20px;
            color: var(--main-color);
          }
          p {
            line-height: 1.6;
            font-weight: 300;
            font-size: 15px;
            transition: var(--main-transition);
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 0px;
          height: 100%;
          left: 0;
          top: 0;
          background-color: var(--main-color-text);
          transition: 0.8s;
          z-index: -1;
          border-radius: 10px;
        }
        &:hover::before {
          width: 100%;
        }
        &:hover i {
          color: white;
        }
        &:hover p {
          color: white;
        }
        @media only screen and (max-width: 767px) {
          flex-direction: column;
          align-items: center;
          text-align: center;
          &::before {
            width: 100%;
            height: 0px;
          }
          &:hover::before {
            height: 100%;
          }
        }
      }
    }
  }
}
/* End Services */

/* Start Design */
.design {
  padding-block: var(--main-padding-block);
  display: flex;
  align-items: center;
  height: 600px;
  background-image: url("../img/landing-mobile-section.webp");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000089;
    width: 100%;
    height: 100%;
  }
  .image,
  .design-content {
    z-index: 1;
    flex: 1;
  }
  .image {
    text-align: center;
    img {
      position: relative;
      bottom: -120px;
    }
  }
  .design-content {
    padding: 50px;
    background-color: var(--main-color-overlay);
    color: white;
    h2 {
      font-weight: 500;
      margin-bottom: 20px;
    }
    ul li {
      padding-block: 10px;
      position: relative;
      &::before {
        font-family: "Font Awesome 6 Free";
        content: "\e163";
        font-weight: 900;
        margin-right: 15px;
      }
      transition: var(--main-transition);
      &:hover {
        color: black;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    height: initial;
    .image {
      display: none;
    }
  }
}
/* End Design */

/* Start Portfolio */
.portfolio {
  padding-block: var(--main-padding-block);
  .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    li {
      padding: 10px 15px;
      font-weight: 500;
      cursor: pointer;
      transition: var(--main-transition);
      @media only screen and (max-width: 767px) {
        padding: 5px;
        font-size: 15px;
        font-weight: 300;
      }
    }
    .active,
    li:hover {
      background-color: var(--main-color);
      color: white;
    }
  }
  .portfolio-content {
    display: flex;
    flex-flow: row wrap;
    .card {
      position: relative;
      overflow: hidden;
      width: 25%;
      img {
        width: 100%;
        height: 225px;
        transition: var(--main-transition);
      }
      &:hover img {
        filter: blur(1px) saturate(3);
        transform: scale(1.2) rotate(8deg);
      }
      .text {
        position: absolute;
        bottom: -70px;
        padding: 10px;
        width: 100%;
        background-color: white;
        transition: var(--main-transition);
        h3 {
          font-weight: 800;
          margin-bottom: 10px;
          color: var(--main-color);
        }
      }
      &:hover .text {
        bottom: 0px;
      }
      @media only screen and (max-width: 991px) {
        width: calc(100% / 3);
      }
      @media only screen and (max-width: 767px) {
        width: calc(100% / 2);
      }
      @media only screen and (max-width: 500px) {
        width: calc(100% / 1);
        img {
          height: 300px;
        }
      }
    }
  }
}
/* End Portfolio */

/* Start Video */
.video {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000089;
    z-index: 1;
  }
  video {
    max-width: 100%;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--main-color-overlay);
    padding: 50px;
    text-align: center;
    color: white;
    transform: translateY(-50%);
    h2 {
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      color: black;
      font-size: 14px;
      margin-bottom: 20px;
    }
    button[type="button"] {
      padding: 10px 20px;
      background-color: black;
      color: white;
    }
    @media only screen and (max-width: 767px) {
      h2 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      button {
        padding: 5px;
      }
    }
  }
}
/* End Video */

/* Start About */
.about {
  overflow: hidden;
  padding-block-start: var(--main-padding-block);
  text-align: center;
  img {
    max-width: 90%;
    margin-bottom: -100px;
    @media only screen and (max-width: 767px) {
      margin-bottom: -45px;
    }
  }
}
/* End About */

/* Start Statistics */
.statistics {
  padding-block: calc(var(--main-padding-block) / 2);
  background-image: url("../img/statistics.jpeg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000089;
  }
  .container {
    position: relative;
    background-color: var(--main-color-overlay);
    color: white;
    display: flex;
    flex-wrap: wrap;
    .statistic {
      display: flex;
      padding: 30px 20px;
      flex-direction: column;
      text-align: center;
      align-items: center;
      i {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        font-size: 25px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color-text);
        margin-bottom: 20px;
      }
      h3 {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 20px;
      }
      p {
        font-size: 10px;
        color: var(--main-color-text);
      }
      width: calc(100% / 4);
      @media only screen and (max-width: 991px) {
        width: calc(100% / 3);
      }
      @media only screen and (max-width: 767px) {
        width: calc(100% / 2);
      }
      @media only screen and (max-width: 400px) {
        width: calc(100% / 1);
      }
    }
  }
}
/* End Statistics */
